<h1>About</h1>

<p>Esta es mi página para suscribirte a mi newsletter</p>

<form method="POST" action="/about">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email</label>
    <input
        type="email"
        name="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">Tu dirección email en la que deseas recibir mi Newsletter</div>
  </div>
  <button type="submit" class="btn btn-primary">Suscribir</button>
</form>