<h1>Esta es mi página de contacto</h1>

<form method ="POST" action="/contact">

    <label>Email:</label>
    <input type="email" name="email" />

    <label>Mensaje:</label>
    <textarea name="message" > </textarea>

    <input type="submit" value="Enviar" />

</form>



