<h1>Bienvenido a la web de Paco Jiménez</h1>

<p> Aprendiendo blockchain since 2021</p>

<p>Puedes escribirme en <a href="/contact">mi página de contacto</a>.
También puedes comprar bicis de trial en <a href="https://www.trial-bikes.com"> TrialBikes</a>.</p>