<h1>Hola mundo! Mi primera web!</h1>

<p>Este es mi párrafo</p>

<div class="row" id="crypto-list"></div>

<h2>Market Cap</h2>

<div class="row" id="realcrypto-list"></div>

<h2>Un perrete</h2>

<div class="row" id="dog-img"></div>

<p>Este es el final de mi web</p>

<script src="/js/home.js"></script>
© 2021 GitHub, Inc.
Terms
Privacy
